{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<style type="text/css">
		#color-palette {
			width: 100px;
      height: 100%;
			background-color: #fafafa;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0; 
			left:20px;
		}
    #color-families {
      width: 100px;
      height: 100%;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
			left:20px;
    }
      
		#toolbar {
			width: 50px;
      height:50px;
			position:absolute;
      right: 40px;
		}
		.btn {
			border-radius:50%;
			padding: 6px;
    }
    .color-family {
      width:100%;
      height:14%;
      text-align: center;
			vertical-align: center;
      font-size: 24px;
      border-style: none;
			border-color: black;
			font-family: Lora;
			font-size: 24px;
			line-height: 160%;
    }
		.swatch {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: auto;
			box-shadow: 2px 2px 2px grey;
		}
		#myCanvas {
			padding-left: 0;
		  padding-right: 0;
		  margin-left: auto;
		  margin-right: auto;
		  display: block;
		}
		#back {
			box-shadow:none;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');
			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	
			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}
      
      //history of coloring, used for undo and redo feature
      var ch = {
        redoColor: [], //list of color for redo
        redoLocation: [], //list of redo location, will paint the last one according to redoColor when redo clicked
        undoColor: [], //list of coloring history
        undoLocation: [] //list of undo locations, will paint the last one white when undo button clicked
      }
      
       //erase function- append white to list of colors
      $("#eraser").click(function() {
        //use border to show selection of eraser; remove any other borders
        deselectAnimation($(".swatch,#eraser"));
        selectAnimation($(this));
        cp.history.push("#ffffff");
      });
			
			//undo function 
			$("#undo").click(function() {
        $(this).fadeOut(100).fadeIn(300);
        if (ch.undoLocation.length){ //poping a empty array is undefined behavior, so better watch out
          var targetLocation = ch.undoLocation.pop();
          var targetColor = ch.undoColor.pop(); // the color that we are gonna fill on that piece
          var removedColor = targetLocation.fillColor; //get the removed color in case of redo
          targetLocation.fillColor = targetColor; //color the target location white
          ch.redoLocation.push(targetLocation);
          ch.redoColor.push(removedColor);
        }
			});
      
      //redo function
      $("#redo").click(function() {
        $(this).fadeOut(100).fadeIn(300);
				var targetLocation = ch.redoLocation.pop();
        var targetColor = ch.redoColor.pop();
        var removedColor = targetLocation.fillColor; //the current color of the targetLocation
        targetLocation.fillColor = targetColor;
        ch.undoLocation.push(targetLocation); //push the redoed part back on undo list, this will support undo-redo to get back to original state
        ch.undoColor.push(removedColor);
 			});
      
      
      //function to pull up shades of each color family upon click
      $(".color-family").click(function () {
        $("#color-families").slideUp(400) // hide color families with slideUp animation: https://api.jquery.com/slideUp/
        switch($(this).text()) { //get shade that was selected and show the correct shades
          case "Red":
            getColorsCreatePalette(0);
            break;
          case "Orange":
            getColorsCreatePalette(14);
            break;
          case "Yellow":
            getColorsCreatePalette(12);
            break;
          case "Green":
            getColorsCreatePalette(9);
            break;
          case "Blue":
            getColorsCreatePalette(5);
            break;
          case "Purple":
            getColorsCreatePalette(2);
            break;
          case "Gray":
            getColorsCreatePalette(17);
            break;
          default:
            alert("Unknown color family");
          }	    
       });
      
			// your custom interaction goes here!
			// you may replace everything
			function myCustomInteraction() {
				var tool = new paper.Tool();
				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
                ch.undoColor.push(hit.item.fillColor)
				        hit.item.fillColor = cp.history[cp.history.length - 1];
                ch.undoLocation.push(hit.item); //add the last hit location to undo
                ch.redoColor = [] //empty out redo color, because a new location is colored
                ch.redoLocation = [] //empty redo location
				    }
				}
			}
      
      //perform selectAnimation on element
      function selectAnimation(element){
        element.animate({
          zoom: '150%'
        }, 100, function(){
        $(this).css("border-style", "solid");
        });
      }
      
      function deselectAnimation(element){
        element.animate({
          zoom: '100%'
        }, 100, function(){
        $(this).css("border-style", "none");
        });
      }
      
			// create a color palette with the given colors
			function createColorPalette(colors){
				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
						$swatch.click(function(){
              deselectAnimation($(".swatch,#eraser"));
              selectAnimation($(this));
					  	cp.history.push($(this).css("background-color"));  //select the color
            	});
					cp.$container.append($swatch);
				}
			}
     
			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(fam){
        cp.$container.delay(400).slideDown(400); //delay 4s for the color family to slide up, and then slidedown the color palette
				cp.$container.html("<img id='back' class = 'swatch' src = '/static/coloring/images/up-arrow.svg'>"); //load the back arrow

        //function that returns user to color families from palette when back button is clicked
        $("#back").click(function() {
          cp.$container.slideUp(400); //slide up the sub-color selection
          $("#color-families").delay(400).slideDown(400); //slide down the color families
          cp.options = [] //clear cp.options, otherwise the sub-color presist between families
        });
        
        //push shades of current color to palette;
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					cp.options.push(colors[keys[fam]][100]);
					cp.options.push(colors[keys[fam]][200]);
					cp.options.push(colors[keys[fam]][400]);
					cp.options.push(colors[keys[fam]][600]);
					cp.options.push(colors[keys[fam]][800]);
					cp.options.push(colors[keys[fam]][900]);
					createColorPalette(cp.options);
				});
			}
			
			

      //initialize the canvas
			function init(custom){
				paper.setup(canvas);
				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);
				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
				}); 
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
</head>
<body>
	<div id="toolbar">
		<img id="eraser" class="btn" src="/static/coloring/images/eraser.svg">
		<img id="undo" class="btn" src="/static/coloring/images/undo.svg">
		<img id="redo" class="btn" src="/static/coloring/images/redo.svg">
	</div>
  
	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-families">
    <div class="color-family" style="background-color:#c62828"><br/><br/>Red</div>
    <div class="color-family" style="background-color:#ffa726"><br/><br/>Orange</div>
    <div class="color-family" style="background-color:yellow"><br/><br/>Yellow</div>
    <div class="color-family" style="background-color:#4caf50"><br/><br/>Green</div>
    <div class="color-family" style="background-color:#1976d2"><br/><br/>Blue</div>
    <div class="color-family" style="background-color:#9c27b0"><br/><br/>Purple</div>
    <div class="color-family" style="background-color:#9e9e9e"><br/><br/>Gray</div>
  </div>
  <!-- dont directly change the following, it get reset everytime getColorsCreatePalette() is called -->
  <div id="color-palette" style= "display:none"></div>
  
</body>
</html>